@charset "UTF-8";
/* Regra @charset caso haja problemas com ecentuação */

body {
    background-color: lightgoldenrodyellow;
    color: chocolate;
    font-size: 12pt;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: brown;
}

a {
    color: brown;
    text-decoration: none;
}